.maindiv{
	margin: 20px 300px;
	padding: center;
	width: 700px;
	height: 400px;
	position: center;
	left: 50%;
	top: 50%;
	background-image: url(1.jpg);
	background-size: 100% 100%;
	box-shadow: 1px 2px 5px 5px #778899;
	animation:slider 9s;
	display: flex;

}
@keyframes slider{
	10%{
		background-image: url(1.jpg);
		background-size: 100% 100%
	}

15%{
		background-image: url(2.jpg);
		background-size: 100% 100%
	}
	
	20%{
		background-image: url(3.jpg);
		background-size: 100% 100%
	}
	
	25%{
		background-image: url(4.jpg);
		background-size: 100% 100%
	}
	
	30%{
		background-image: url(5.jpg);
		background-size: 100% 100%
	}
}